<h2> My Chart </h2>

{{#power-select placeholder="Please, select a chart type" options=chartTypes onchange=(action "changeChartType" type) as |type|}}
  {{type}}
{{/power-select}}

<hr>

{{#if chartData}}
	{{ember-chart type=chartType data=chartData options=chartOptions}}
{{/if}}
